
#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding-left: 14%;
	border-top: 3px solid #C9E0ED;
    background-image:url(/sam/images/header.gif);
    background-repeat:repeat;
    height:70px;
}

#header_logo {
  background-image:url(sam/images/logo_muni.png);
  background-position:0 0;
  background-repeat:no-repeat;
  float:left;
  height:70px;
  margin:0 0 0 8px;
  padding:0 10px;
  text-align:left;
  width:60px;
}

#header_muni {
  color:gray;
  float:left;
  font-size:12px;
  font-style:italic;
  font-variant:normal;
  font-weight:normal;
  height:70px;
  padding:0 3px;
  text-align:left;
  min-width:25%;
}

#header_samlogo {
  background-image:url(/sam/images/logo_sam.gif);
  background-position:0 5px;
  background-repeat:no-repeat;
  float:left;
  height:70px;
  padding:0 0 0 55px;
  width:53%;
}


.header_samtexto {
  color:navy;
  font-size:12px;
  font-style:italic;
  font-variant:normal;
  font-weight:normal;
  margin:0;
  text-align:left;
}

#header_icon {
  float:right;
  height:70px;
  padding-left:10px;
  width:380px;
}

#navAcc > li > a{
  padding: 8px 15px !important;
}

#wrap {
	width: 960px;
    min-height: 83%;
    height: auto;
    margin: 0 auto -40px;
    padding: 0 0 40px;
}

#wrap:after{
	width: 85%;
	height:50px;
	display:block;
	clear:both;
}
#wrap > .container {
    padding: 2px 15px 20px;
}


.col-md-izq {
    position: absolute;
    float: left;
    min-height: 75%;
    padding-left:15px;
    padding-right:15px;
    background:#FFF;
    min-width: 100px;
    max-width: 180px;
  }

.col-md-der {
    position: relative;
    float: right;
    min-height: 75%;
	margin-left:20px;
    padding-left:15px;
    padding-right:15px;
 	background:#FFF;
    width: 82%;
  }

#footer {
    width: 100%;
	height: 40px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 10px;
	margin: 40px auto 0;
}


#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(/sam/images/bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:8px 20px 6px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:8px 8px 10px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
